<!DOCTYPE html>
<html>
     <head>
         <meta charset="utf-8">
         <title>Toy website</title>
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
         <link rel="stylesheet" href="css/main.css">
     </head>

     <body>
          <div class="navbar navbar-default navbar-static-top" role="navigation">
               <div class="container">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="/">ToyFactory</a>
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/home">About</a></li>
                      <li><a href="/product">Products</a></li>
                      <li><a href="/report">Bills</a></li>
                      <li><a href="/cart">Cart</a></li>
                      <li><a href="/search">Search</a></li>
                  </ul>
              </div>
          </div>

          <div class="main">
