<link rel="stylesheet" href="css/home.css">

<%- include("section/_header") %>

     <img src="img/main.jpg" alt="Facade" class="front">
     <div class="intro">
          <p>Welcome to ToyFactory where we put our most effort into ensuring the quality of each product that we hands to your children.</p>
     </div>

<%- include("section/_footer") %>
